run = "clj -M:dev"
entrypoint = "src/learn_cljs/core.cljs"


[nix]
channel = "unstable"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[packager]
language = "nodejs"

  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[unitTest]
language = "nodejs"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

  [languages.javascript.languageServer]
  start = [ "typescript-language-server", "--stdio" ]


[languages.clojure]
pattern = "**/*.cljs"

[languages.clojure.languageServer]
start = ["clojure-lsp"]