{:deps {org.clojure/clojurescript {:mvn/version "1.11.54"}}
:paths ["src"]
:aliases
    {:dev {:main-opts ["-m" "cljs.main"
                     "--compile" "learn-cljs.core"
                     "--repl"]}}}